{% include "header.html" %}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bienvenidos a Centro Médico Veterinario “Huellitas”</h1>
      <h2>Los aliados en el cuidado de tu mascota</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¿Por qué elegir Huellitas?</h3>
              <p>
                La salud de su mascota es nuestra prioridad, somos un equipo de médicos veterinarios expertos en todas las especialidades. Nos esmeramos por entregar la mejor
                atención médica, hospitalización 24/7, atención de urgencias, y la gama mas completa de exámenes.
              </p>  
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>¿Por qué es importante cuidar a las mascotas?</h4>
                    <p>Las mascotas pueden disminuir el estrés y la sensación de soledad, mejorar la salud del corazón e, incluso, ayudar a los niños con sus habilidades
                       emocionales y sociales.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>¿Cada cuanto tiempo debe ir mi mascota al veterinario?</h4>
                    <p>Por norma general, se recomienda hacerlo una vez al mes aproximadamente para realizar todas las pruebas necesarias que determinen su correcto estado de salud, 
                      así como para ponerle las vacunas pertinentes y realizar la desparasitación.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>¿Por qué es importante vacunar a los animales?</h4>
                    <p>En otras palabras, cuando vacunamos a nuestras mascotas prevenimos enfermedades infecciosas, y conferimos inmunidad (anticuerpos) a un individuo sin el riesgo y 
                      las secuelas de una infección natural, y también ofrecemos beneficios para la salud de la población en general.
                    </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


    <section id="gallery" class="gallery">
    <div class="container">

      <div class="section-title">
        <h2>Galería</h2>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#" class="galelry-lightbox">
               <img src="{% static "/img/gallery/gallery-1.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#" class="galelry-lightbox">
              <img src="{% static "/img/gallery/gallery-2.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#" class="galelry-lightbox">
              <img src="{% static "/img/gallery/gallery-3.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#" class="galelry-lightbox">
              <img src="{% static "/img/gallery/gallery-4.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#" class="galelry-lightbox">
              <img src="{% static "/img/gallery/gallery-5.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#" class="galelry-lightbox">
              <img src="{% static "/img/gallery/gallery-6.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#" class="galelry-lightbox">
             <img src="{% static "/img/gallery/gallery-7.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="#  " class="galelry-lightbox">
              <img src="{% static "/img/gallery/gallery-8.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
    </section><!-- End Gallery Section -->
      <!-- ======= Footer ======= -->
  {% include "footer.html" %}