{% include "header.html" %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
        <h2>Servicios</h2>  
        </div>

        <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
            <div class="icon"><i class="fa fa-user-md"></i></div>
            <h4><a href="">Consultas médicas</a></h4>
            <p>Agenda tu hora con nuestros veterinarios y especialistas.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a href="">Exámenes y laboratorios</a></h4>
            <p>Radiografías, ecografías, ecocardiogramas y toma de muestras general </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4><a href="">Resultados de exámenes</a></h4>
            <p>Retira el informe de tus resultados de laboratorio y procedimientos en 
            nuestro sitio web y optimiza tu tiempo.
            </p>
            </div>
        </div>
        </div>

    </div>
</section><!-- End Services Section -->
    {% include "footer.html" %}